
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap');

div{
    background: blue;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google-font{
    font-family: "Scheherazade New", serif;
    line-height: 2rem;
    font-size: 20px;
}